{% extends "@Tsugi/Page.twig" %}

{% block content %}
<!-- Rendered from Cookie.twig -->
<p>
<b>Finding Cookies and Sessions in a Haystack</b>
</p>
{% if app.tsugi.user.displayname %}
{{ app.tsugi.output.welcomeUserCourse | raw }}
{% else %}
<p style="color:blue;">Auto grader launched without a student name.</p>
{% endif %}
{% if app.tsugi.result.grade > 0 %}
<p class="alert alert-info">Your current grade on this assignment is: {{ app.tsugi.result.grade*100.0 }}%</p>
{% endif %}
<p>
This application has stored a cookie named <b>wa4e_secret_cookie</b>
in your browser.  You must find the value of that cookie and enter it 
on this form.
</p>
<p>
You must also figure out your session identifier.   It is either
a GET parameter or a cookie value named <b>{{ session_name }}</b>.
If you have both a GET parameter and a Cookie, then either session ID
will work for this assignment.
</p>
<p>
This assignment is best completed using "Developer Mode" of your
browser.
</p>
<p>
Enter your values in each of the fields below and press "Submit".
<form method="post">
<p>
<label for="cookie">Enter Cookie Value: </label>
<input type="text" id="cookie" name="cookie" size="40"
value="{{ oldcookie }}"/></p>
<p>
<label for="cookie">Enter SessionID:</label>
<input type="text" id="session" name="session" size="40"
value="{{ oldsession }}"/></p>
<input type="submit">
</form>
</p>
{% if app.tsugi.user.instructor %}
<hr/>
<pre>
{{ cookies }}
</pre>
{% endif %}
{% endblock %}
